<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="login.html">
      <system.webServer>
            <httpProtocol>
                <customHeaders>
                    <add name="X-FRAME-OPTIONS" value="sameorigin" />
                </customHeaders>
            </httpProtocol>
        </system.webServer>
    </location>
    <location path="login2.html">
      <system.webServer>
        <httpProtocol>
          <customHeaders>
            <add name="Content-Security-Policy" value="frame-ancestors 'self' badguy.aspnet4you.com; script-src 'self' 'unsafe-inline' badguy.aspnet4you.com;" />
          </customHeaders>
        </httpProtocol>
      </system.webServer>
    </location>
</configuration>
