<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <!--<add name="X-FRAME-OPTIONS" value="sameorigin" />-->
                <!--<add name="Content-Security-Policy" value="default-src 'self' 'unsafe-inline' goodguy.aspnet4you.com;frame-src 'self' badguy.aspnet4you.com;" />-->
              <add name="Content-Security-Policy" value="frame-ancestors 'self' badguy.aspnet4you.com;" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
